.container {
  max-width: 500px;
  margin: auto;
  padding: 2em;
  font-family: sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.row {
  margin-bottom: 1em;
}
.row label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.row input {
  width: 100%;
  padding: 0.5em;
}
button {
  margin-right: 0.5em;
  padding: 0.5em 1em;
  font-weight: bold;
}
.result {
  margin-top: 2em;
  background-color: #fff;
  padding: 1em;
  border-radius: 6px;
}
button.pdf {
  margin-top: 1em;
  background-color: #28a745;
  color: white;
}.logo {
  width: 80px;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

